<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
  <body>
    <%- include("../menu.ejs") %>

    <!-- 상세조회 -->
    <!-- Material input -->
    <div class="md-form">
      <input
        type="text"
        id="title"
        class="form-control"
        value="<%=result.title%>"
        readonly
      />
    </div>

    <div class="md-form">
      <input
        type="text"
        id="director"
        class="form-control"
        value="<%=result.director%>"
        readonly
      />
    </div>

    <div class="md-form">
      <input
        type="text"
        id="year"
        class="form-control"
        value="<%=result.year%>"
        readonly
      />
    </div>

    <button onclick="location.href='/api/movie'" class="btn btn-primary">
      목록
    </button>
    <button
      onclick="location.href='/api/movie/<%= result._id%>/edit'"
      class="btn btn-primary"
    >
      수정
    </button>
    <button id="deleteBtn" class="btn btn-primary">삭제</button>
    <%- include("../footer"); %>

    <script>
      $(function () {
        $("#deleteBtn").on("click", () => {
          const result = confirm("삭제하시겠습니까?");
          if (result) {
            console.log("삭제 처리");
          } else {
            conosle.log("삭제 취소");
          }

          // 삭제
          $.ajax({
            url: "/api/movie/<%= result._id%>",
            type: "DELETE",
          })
            .done(() => {
              location.href = "/api/movie/";
            })
            .fail((request, status, error) => {
              alert(request.responseText);
            });
        });
      });
    </script>
  </body>
</html>
